<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        .round-image {
            border-radius: 50%;
            height: 100px;
            width: 100px;
            object-fit: cover; /* Ensure the image covers the area */
        }
    </style>
</head>
<body>
    {% for item in item %}
        <a href="{{ item.imagefile.url }}">
            <img src="{{ item.imagefile.url }}" alt="Whatever" class="round-image">
        </a>
    {% endfor %}    
</body>
</html>
