<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance List</title>
</head>
<body>
    <h1>Attendance List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Date</th>
                <th>Present</th>
            </tr>
        </thead>
        <tbody>
            {% for record in item %}
            <tr>
                <td>{{ record.teacher_id}}</td>
                <td>{{ record.date }}</td>
                <td>{{ record.present }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
